.heading {
    font-size: 20px;
    width: 100%;
    margin: 0px;
}

.note_heading {
    font-size: 15px;
    color: black;
}

body {
    background: url("background.jpg");
    background-size: cover;
}

.speed {
    float: left;
}

.gif_bg {
    width: 200px;
    border-radius: 100px;
}

.volume {
    float: right;
}

.playbutton {
 width: 100px;
 font-size: 25px;
}

canvas {
    border: 5px solid whitesmoke;
    border-radius: 20px;
    margin-top: 80px;
    box-shadow: 5px 10px 15px lightskyblue;
}